/* Status bar button */

#yammerfox-statusbar-button {
  list-style-image: url("chrome://yammerfox/content/statusbar.png");
  display: -moz-box;
  -moz-image-region: rect(16px, 16px, 32px, 0px);
  padding-left: 3px;
  padding-right: 3px;
}

#yammerfox-statusbar-button[state="active"] { 
  list-style-image: url("chrome://yammerfox/content/statusbar.png");
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}

#yammerfox-statusbar-button[state="error"] {
  list-style-image: url("chrome://yammerfox/content/statusbar.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#yammerfox-panel { 
  border: none;
}

/*
   XBL styles
*/
.yammerfox-status {
  -moz-binding: url("chrome://yammerfox/content/yammerfox.xml#yammerfox-status");
  padding: 2px;
  width: 260px;
  margin-bottom: 1px;
  background: #333333;
  color: #e4e4e4;
  -moz-border-radius: 3px;
}

.yammerfox-status[boxstyle="FF3"] {
  -moz-border-radius: 0;
  margin-bottom: 0px;
}

.yammerfox-status[unread="true"]
{ 
  background: #33333;
}

.yammerfox-status[priv="true"]
{ 
  background: #565656;
}

.yammerfox-status:hover { 
  background: #333333;
}

.yammerfox-status[attr="replies"] { 
  background: #333333;
}

.yammerfox-status[attr="replies"][unread="true"]
{ 
  background: #333333;
}

.yammerfox-status:hover[attr="replies"] { 
  background: #333333;
}

.yammerfox-status[attr="messages"] { 
  background: #333333;
}

.yammerfox-status[attr="messages"][unread="true"]
{
  background: #333333;
}

.yammerfox-status:hover[attr="messages"] { 
  background: #333333;
}

.yammerfox-popup { 
  -moz-binding: url("chrome://yammerfox/content/yammerfox.xml#yammerfox-popup");
  background: #333333;
  border: 1px solid #000000;
  color: #e4e4e4;
}

.twitter-autocomplete { 
  -moz-binding: url("chrome://yammerfox/content/autocomplete.xml#twitter-autocomplete");
}

.yammerfox-popup-logo-box { 
  margin: 1px 0px;
}

.yammerfox-popup-logo:hover { 
  cursor: pointer;
}

.yammerfox-close-button { 
  list-style-image: url("chrome://yammerfox/content/close.png");
  display: -moz-box;
  -moz-image-region: rect(0px, 12px, 12px, 0px);
  padding: 2px;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
}

.yammerfox-close-button:hover { 
  list-style-image: url("chrome://yammerfox/content/close.png");
  -moz-image-region: rect(12px, 12px, 24px, 0px);
}

.yammerfox-close-button:active { 
  list-style-image: url("chrome://yammerfox/content/close.png");
  -moz-image-region: rect(24px, 12px, 36px, 0px);
}

.yammerfox-status-hbox-container { 
  max-height: 128px;
}

.yammerfox-status-usericon {
  width: 32px;
  max-width: 32px;
  max-height: 32px;
  height: 32px;
  margin: 2px;
  padding: 0 3px 0 0;
  cursor: pointer;
}

.yammerfox-status-user {
  font-weight: normal;
  color: #bebfbe;
}
.yammerfox-status-user:hover { 
  text-decoration: underline;
}


.yammerfox-status-time {
  font-style: italic;
  color: #bebfbe;
}
.yammerfox-status-time:hover { 
  text-decoration: underline;
}


.yammerfox-status-messagebox { 
  width: 220px;
  max-width: 220px;
  margin-right: 2px;
  height: 16px;
  max-height: 128px;
  overflow: visible;
}

.yammerfox-status-message {
  margin: 1px;
}

/*
 * Reply button
 */
.yammerfox-status-reply {
  list-style-image: url("chrome://yammerfox/content/buttons.png");
  display: -moz-box;
  -moz-image-region: rect(15px, 16px, 30px, 0px);
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  width: 16px;
}

.yammerfox-status-reply:hover {
  -moz-image-region: rect(0px, 16px, 15px, 0px);
}

.yammerfox-status-reply:active {
  -moz-image-region: rect(30px, 16px, 45px, 0px);
}

.yammerfox-status-reply[type="balloon"],
.yammerfox-status-reply:hover[type="balloon"],
.yammerfox-status-reply:active[type="balloon"] {
  display: none;
}
/*
 * Favorite button
 */
.yammerfox-status-favorite {
  list-style-image: url("chrome://yammerfox/content/buttons.png");
  -moz-image-region: rect(60px, 16px, 75px, 0px);
  display: -moz-box;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  width: 16px;
}

.yammerfox-status-favorite:hover {
  -moz-image-region: rect(45px, 16px, 60px, 0px);
}

.yammerfox-status-favorite:active {
  -moz-image-region: rect(75px, 16px, 90px, 0px);
}

.yammerfox-status-favorite[type="balloon"],
.yammerfox-status-favorite:hover[type="balloon"],
.yammerfox-status-favorite:active[type="balloon"],
.yammerfox-status-favorite[attr="messages"],
.yammerfox-status-favorite:hover[attr="messages"],
.yammerfox-status-favorite:active[attr="messages"] { 
  display: none;
}

.yammerfox-status-favorite[favorited="true"] {
  -moz-image-region: rect(105px, 16px, 120px, 0px);
}

.yammerfox-status-favorite:hover[favorited="true"] {
  -moz-image-region: rect(90px, 16px, 105px, 0px);
}

.yammerfox-status-favorite:active[favorited="true"] {
  -moz-image-region: rect(120px, 16px, 135px, 0px);
}

.yammerfox-statusbox { 
  height: 300px;
  max-height: 300px;
  width: 266px;
  margin-left: 2px;
  margin-right: 1px;
  -moz-border-radius: 3px;
  border: 2px solid #222222;
  background: #222222;
}

.yammerfox-scrollbar { 
  -moz-border-radius: 6px;
  background: #222222;
  margin: 1px 2px;
}

.yammerfox-scroll-thumb { 
  -moz-border-radius: 6px;
  background: #777777;
  padding: 1px 0px;
  width: 16px;
  border: solid 1px #969696;
  min-height: 16px;
}

.yammerfox-scroll-thumb:hover { 
  background: #777777;
}

.yammerfox-scroll-thumb:active { 
  background: #777777;
}

.yammerfox-toolbar { 
  -moz-binding: url("chrome://yammerfox/content/yammerfox.xml#yammerfox-toolbar");
  margin: 0px;
  margin-bottom: 2px;
  padding: 0px 1px 0px 1px;
}

#yammerfox-input-container { 
  height: 30px;
}

#yammerfox-message-input { 
  padding: 1px 0px;
  color: #000;
  background: #fff;
  width: 240px;
}

#yammerfox-progressmeter { 
  margin-top: 8px;
}

#yammerfox-error-message { 
  margin: 4px 4px 0px 4px;
  -moz-border-radius: 2px;
  color: #333;
  border: 1px solid #a26d6c;
  padding: 2px;
  background: #E89C9A;
  text-align: center;
}

.yammerfox-current-account { 
  border: 1px solid #9ae4e8;
  width: 190px;
  max-width: 190px;
  overflow: hidden;
  background: #9ae4e8;
  margin: 0px;
  color: #000;
  cursor: pointer;
}

.yammerfox-current-account-name { 
  cursor: pointer;
  border: 1px solid #9ae4e8;
  margin: 0px;
  padding: 0px 4px;
}

.yammerfox-current-account-name:hover,
.yammerfox-current-account-name:active { 
  cursor: pointer;
  border: 1px solid #ccf8ff;
  background: #ccf8ff;
  -moz-border-radius: 3px;
}

.yammerfox-current-account-icon { 
  width: 16px;
  height: 16px;
}

.yammerfox-tab {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  padding: 4px;
  margin: 0px;
  text-align: center;
  color: #e4e4e4;
  background: #333333;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
  cursor: pointer;
  font-size: 8.5pt;
}

.yammerfox-tab[attr="active"] {
  color: #e4e4e4;
  background: #333333;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #222222;
  border-left: 1px solid #222222;
}

.yammerfox-tab[unread="true"] { 
  font-weight: bold;
}

.yammerfox-reply {
  font-weight: bold;
  color: #bebfbe;
}

.yammerfox-charcount {
  -moz-border-radius: 6px;
  border: solid 1px #fff;
  background: #fff;
  width: 28px;
  padding: 0px 2px;
  margin: 0px 2px;
  text-align: right;
  color: #000;
}

.yammerfox-charcount[charover="1"] {
  color: #c00;
}

.yammerfox-linkbutton { 
  list-style-image: url("chrome://yammerfox/content/link.png");
  display: -moz-box;
  -moz-image-region: rect(0px, 16px, 15px, 0px);
  margin: 0px 3px 0px 1px;
}

.yammerfox-linkbutton:hover { 
  -moz-image-region: rect(15px, 16px, 30px, 0px);
}

.yammerfox-linkbutton:active { 
  -moz-image-region: rect(30px, 16px, 45px, 0px);
}

/*
   message body
*/
.yammerfox-message-body { 
  padding: 0px;
  margin: 0 0 5px 0;
}

.yammerfox-hyperlink { 
  color: #e4e4e4;
  display: -moz-inline-box;
  font-weight: bold;
  display: inline-block;
}

.yammerfox-hyperlink:hover { 
  text-decoration: underline;
  color: #e4e4e4;
  font-weight: bold;
  cursor: pointer;
}

/* 
   Notice box
*/
.yammerfox-notice {
  -moz-binding: url("chrome://yammerfox/content/yammerfox.xml#yammerfox-notice");
  padding: 2px;
  width: 120px;
  background: #333333;
  color: #e4e4e4;
  -moz-border-radius: 8px;
}

.yammerfox-notice[boxstyle="FF3"] {
  -moz-border-radius: 0;
  margin-bottom: 0px;
  font-weight: bold;
}

.yammerfox-notice-message {
  margin: 4px 6px 4px 2px;
}

.yammerfox-notice-check {
  list-style-image: url("chrome://yammerfox/content/yammer16x16.png");
  margin: 4px;
  width: 16px;
  height: 16px;
}

.yammerfox-notice-arrow {
  list-style-image: url("chrome://yammerfox/content/arrow.png");
  margin: 4px;
  width: 16px;
  height: 16px;
}

/*
   login panel
*/
.yammerfox-keyconfig {
  -moz-binding: url("chrome://yammerfox/content/yammerfox.xml#yammerfox-keyconfig");
}
